<div class="dialog-container">
    <h1 mat-dialog-title style="font-size:24px;margin-top: 15px;" fxLayoutAlign="center">Add new task</h1>
    <div mat-dialog-content>
        <form [formGroup]="task_form" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
            <!-- <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            <!-- <mat-form-field>
                <mat-checkbox formControlName="important">
                    Important
                </mat-checkbox>
            </mat-form-field> -->
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="mat-raised-button" (click)="close()">Close</button>
        <button mat-button class="mat-raised-button" (click)="save()">Add</button>
    </div>

</div>