<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header class="my-login-header">
            <mat-card-title>
                <h2>Login</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="my-form">
                <div>
                    <span style="display: flex;margin-bottom: 10px;">Email</span>
                    <mat-form-field appearance="fill">

                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" required><!--[formControl]="email"-->
                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <span style="display: flex;margin-bottom: 10px;">Password</span>
                    <mat-form-field appearance="fill">

                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" required>
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="login-buttons">
                <span>
                    <button mat-flat-button color="primary">Login</button>
                    <button mat-flat-button color="primary" style="margin-left:8px">Register</button>
                </span>

            </div>
        </mat-card-actions>
    </mat-card>
</div>