

.login-card{
  height: 500px;
  border-radius: 0.3cm;
  box-shadow: 0px 0px 10px 0px #9b9b9b,
        0 2px 2px 0 #9b9b9b,
        0 2px 2px 0 #9b9b9b;
}
.google-login-btn {
  background-image: url('../../assets/google-logo.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 10%;
  padding-left: 15%;
}
.logo{
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0);
      
      
}
.my-form > div > mat-form-field{
  align-items: center;
  width: 100%;
  text-align: center;
  
}


.login-buttons{
  margin-top: 10px;
  align-items: right;
  
}

