<div class="content">
    <mat-card class="mat-elevation-z5">
        <mat-card-content>
            <div cdkDropListGroup>
                <div class="example-container">
                    <h2>Today's</h2>

                    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>