<app-tool-bar></app-tool-bar>

<div class="main-div" fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px grid">
    <!-- BACKLOG START -->
    <!-- <div fxLayout.xs="column" fxLayout="col" fxLayoutGap="10px" ngClass.gt-xs="ml-10" fxFlex="25%"> -->
    <div class="todo-div" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
        fxFlex.gt-md="0 1 calc(25%-10px)">
        <mat-card class="todo-card">
            <mat-card-header fxLayoutAlign="center center" style="padding: 0;">
                <mat-card-title>
                    <h2>Backlog</h2>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-divider fxLayoutAlign="center center" class="divider"></mat-divider>
                <div fxLayoutAlign="center center" class="addTask">

                    <button fxLayoutAlign="center center" mat-raised-button color="accent"
                        style="width: 200px;height:60px;font-size: 28px;" (click)="openDialog('700ms', '500ms')">
                        <mat-icon style=" font-size: 28px;width: 28px;height: 28px;margin-left:10px"
                            fxLayoutAlign="center center">add_circle_outline</mat-icon>
                        Add Task
                    </button>
                </div>
                <mat-divider fxLayoutAlign="center center" class="divider"></mat-divider>

                <div cdkDropList #backlogList="cdkDropList" [cdkDropListData]="backlog"
                    (cdkDropListDropped)="drop($event)" class="task-list-todo" [cdkDropListConnectedTo]="[todoList]">
                    <mat-card fxLayout="col" class="backlog-tasks" *ngFor="let item of backlog" cdkDrag>
                        <div fxFlex>
                            <div fxLayout="row" class="card-header">
                                <mat-card-header fxLayoutAlign="left top" style="font-size: 11px;">Task
                                    #{{item.id}}</mat-card-header>
                            </div>
                            <div fxLayout="row">
                                <mat-card-content>{{item.description}}</mat-card-content>
                            </div>
                            <div fxLayout="row">
                                status: {{item.status
                                }}
                            </div>
                            <mat-card-actions>

                                <div class="icon-row">
                                    <button mat-icon-button><mat-icon>flag</mat-icon></button>
                                    <button mat-icon-button><mat-icon>date_range</mat-icon></button>
                                    <button mat-icon-button><mat-icon>done</mat-icon></button>
                                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button><mat-icon>menu</mat-icon></button>
                                </div>
                            </mat-card-actions>

                        </div>
                    </mat-card>



                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- </div> -->
    <!-- BACKLOG END -->

    <!-- ToDo START -->
    <!-- <div fxLayout.xs="column" fxLayout="column" fxLayoutGap="10px" ngClass.gt-xs="ml-10" fxFlex="25%"> -->
    <div class="todo-div" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
        fxFlex.gt-md="0 1 calc(25%-10px)">
        <mat-card class="todo-card">
            <mat-card-header fxLayoutAlign="center center" style="padding: 0;">
                <mat-card-title>
                    <h2>ToDo</h2>

                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-divider fxLayoutAlign="center center" class="divider"></mat-divider>


                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" class="task-list-todo "
                    (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[backlogList,inProgressList]">
                    <mat-card fxLayout="column" class="backlog-tasks" *ngFor="let item of todo" cdkDrag>
                        <div fxFlex>
                            <div fxLayout="row" class="card-header">
                                <mat-card-header fxLayoutAlign="left top"
                                    style="font-size: 11px;">{{item.id}}</mat-card-header>
                            </div>
                            <div fxLayout="row" flexLayoutAlign="center center">
                                <mat-card-content
                                    flexLayoutAlign="center center">{{item.description}}</mat-card-content>
                            </div>
                            <div fxLayout="row">

                            </div>
                            <mat-card-actions>

                                <div class="icon-row">
                                    <button mat-icon-button><mat-icon>flag</mat-icon></button>
                                    <button mat-icon-button><mat-icon>date_range</mat-icon></button>
                                    <button mat-icon-button><mat-icon>done_all</mat-icon></button>
                                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button><mat-icon>menu</mat-icon></button>
                                </div>
                            </mat-card-actions>

                        </div>
                    </mat-card>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- </div> -->
    <!-- ToDo START -->

    <!-- In Progress START -->
    <!-- <div fxLayout.xs="column" fxLayout="column" fxLayoutGap="10px" ngClass.gt-xs="ml-10" fxFlex="25%"> -->
    <div class="todo-div" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
        fxFlex.gt-md="0 1 calc(25%-10px)">
        <mat-card class="todo-card">
            <mat-card-header fxLayoutAlign="center center" style="padding: 0;">
                <mat-card-title>
                    <h2>In Progress</h2>

                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-divider fxLayoutAlign="center center" class="divider"></mat-divider>


                <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="in_progress" class="task-list-todo "
                    (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[todoList,doneList]">
                    <mat-card fxLayout="column" class="backlog-tasks" *ngFor="let item of in_progress" cdkDrag>
                        <div fxFlex>
                            <div fxLayout="row" class="card-header">
                                <mat-card-header fxLayoutAlign="left top"
                                    style="font-size: 11px;">{{item.id}}</mat-card-header>
                            </div>
                            <div fxLayout="row" flexLayoutAlign="center center">
                                <mat-card-content
                                    flexLayoutAlign="center center">{{item.description}}</mat-card-content>
                            </div>
                            <div fxLayout="row">

                            </div>
                            <mat-card-actions>

                                <div class="icon-row">
                                    <button mat-icon-button><mat-icon>flag</mat-icon></button>
                                    <button mat-icon-button><mat-icon>date_range</mat-icon></button>
                                    <button mat-icon-button><mat-icon>done_all</mat-icon></button>
                                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button><mat-icon>menu</mat-icon></button>
                                </div>
                            </mat-card-actions>

                        </div>
                    </mat-card>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- </div> -->
    <!-- In Progress START -->

    <!-- Done START -->
    <!-- <div fxLayout.xs="column" fxLayout="column" fxLayoutGap="10px" ngClass.gt-xs="ml-10" fxFlex="25%"> -->
    <div class="todo-div" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
        fxFlex.gt-md="0 1 calc(25%-10px)">

        <mat-card class="todo-card">
            <mat-card-header fxLayoutAlign="center center" style="padding: 0;">
                <mat-card-title>
                    <h2>Done</h2>

                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-divider fxLayoutAlign="center center" class="divider"></mat-divider>


                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" class="task-list-todo "
                    (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[backlogList,inProgressList]">
                    <mat-card fxLayout="column" class="backlog-tasks" *ngFor="let item of done" cdkDrag>
                        <div fxFlex>
                            <div fxLayout="row" class="card-header">
                                <mat-card-header fxLayoutAlign="left top"
                                    style="font-size: 11px;">{{item.id}}</mat-card-header>
                            </div>
                            <div fxLayout="row" flexLayoutAlign="center center">
                                <mat-card-content
                                    flexLayoutAlign="center center">{{item.description}}</mat-card-content>
                            </div>
                            <div fxLayout="row">

                            </div>
                            <mat-card-actions>

                                <div class="icon-row">
                                    <button mat-icon-button><mat-icon>flag</mat-icon></button>
                                    <button mat-icon-button><mat-icon>date_range</mat-icon></button>
                                    <button mat-icon-button><mat-icon>done_all</mat-icon></button>
                                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button><mat-icon>menu</mat-icon></button>
                                </div>
                            </mat-card-actions>

                        </div>
                    </mat-card>



                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- </div> -->
    <!-- Done START -->